/WebsocketGaugeServer/Debug_Distribution
/WebsocketGaugeServer/packages
obj
bin
/WebsocketGaugeServer/Release_Distribution
/WebSocketGaugeServer/WebsocketGaugeServer.suo
/WebSocketGaugeServer/WebsocketGaugeServer.v12.suo
