@namespace SZ2.WebSocketGaugeServer.WebSocketServer.Shared
@using SZ2.WebSocketGaugeServer.WebSocketServer.Model
@inject ServiceConfigurationModel ConfigModel

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebSocketGaugeServer</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="log">
                <span class="oi oi-list" aria-hidden="true"></span> Log
            </NavLink>
        </li>
        @if(ConfigModel.ArduinoVirtualCOMEnabled && ConfigModel.ArduinoCOMEnabled)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="virtualarduino">
                    <span class="oi oi-media-play" aria-hidden="true"></span> VirtualArduinoControl
                </NavLink>
            </li>
        }
        @if(ConfigModel.DefiVirtualCOMEnabled && ConfigModel.DefiCOMEnabled)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="virtualdefi">
                    <span class="oi oi-media-play" aria-hidden="true"></span> VirtualDefiControl
                </NavLink>
            </li>
        }
        @if(ConfigModel.ELM327VirtualCOMEnabled && ConfigModel.ELM327COMEnabled)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="virtualelm327">
                    <span class="oi oi-media-play" aria-hidden="true"></span> VirtualELM327Control
                </NavLink>
            </li>
        }
        @if(ConfigModel.SSMVirtualCOMEnabled && ConfigModel.SSMCOMEnabled)
        {        
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="virtualssm">
                    <span class="oi oi-media-play" aria-hidden="true"></span> VirtualSSMControl
                </NavLink>
            </li>
        }
        @if(ConfigModel.ClientFilesEnabled)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" target="_blank" rel=”noopener” href="clientfiles/index.html">
                    <span class="oi oi-media-play" aria-hidden="true"></span> Gauge clients
                </NavLink>
            </li>
        }
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
